@import url('https://fonts.googleapis.com/css?family=Heebo');
@font-face {font-family: "Thud W01 Medium";
  src: url("fonts/a3ce78873e546adb7abdd54098f4d6b1.eot"); /* IE9*/
  src: url("fonts/a3ce78873e546adb7abdd54098f4d6b1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/a3ce78873e546adb7abdd54098f4d6b1.woff2") format("woff2"), /* chromeã€firefox */
  url("fonts/a3ce78873e546adb7abdd54098f4d6b1.woff") format("woff"), /* chromeã€firefox */
  url("fonts/a3ce78873e546adb7abdd54098f4d6b1.ttf") format("truetype"), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
  url("fonts/a3ce78873e546adb7abdd54098f4d6b1.svg#Thud W01 Medium") format("svg"); /* iOS 4.1- */
}

html {
  height: 100%;
  background-color: gainsboro;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  color: darkslategray;
}

/*colors: 
blue: #00a6ff
orange: #ff8f00
*/

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Thud W01 Medium";
  text-transform: uppercase;
  font-style: italic;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .75em;
}

h6 {
  font-size: .6em;
}

p {
  line-height: 2;
}

header {
  z-index: 10;
  height: 25vh;
  position: fixed;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, .5) 0 0 20px;
  transition: height 0.2s;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  filter: blur(2px) brightness(.4);
  transform:scale(1.2);
  background-image: url("img/bg1.jpg");
  background-position: 0 50%;
  background-size: cover;
}

.logonavcontainer {
  margin: auto;
  width: 65%;
  height: 100%;
  padding: 0 1em 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: width 0.2s;
}

.logocontainer {
  position: relative;
  margin-right: 2em;
  max-width: 25%;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

nav {
  height: 100%;
}

nav ul {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul li {
  -webkit-clip-path: polygon(16px 0, 100% 0, calc(100% - 16px) 100%, 0% 100%);
  clip-path: polygon(16px 0, 100% 0, calc(100% - 16px) 100%, 0% 100%);
  display: flex;
  margin: 0;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;  
  padding: 0 20px;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, .3);
  color: #ff8f00;
  color: white;
  border-bottom: 4px solid #ff8f00;
  border-top: 4px solid transparent;
}

nav ul li:active {
  border-bottom: 0;

}

nav ul li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  text-transform: lowercase;
  font-style: italic;
  font-family: "Thud W01 Medium";
  font-size: 1.25em;
  text-shadow: 0px 0px 3px black;
  text-decoration: none;
}

section.home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-areas:  "intro infobox" 
                        "intro infobox2"  
                        "intro infobox3";
}

section.content{
  position: relative;
  padding: 2em 1em;
  width: 65%;
  margin: 25vh auto 0;
  flex-grow: 1;
  height: 100%;
}


.intro {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: .5em;
  position: relative;
  padding: 0 1em 1em 1em;
}

.intro h1 {
  line-height: 1.4;
}

.introhome {
  grid-area: intro;
}

.infobox {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #eee;
  box-shadow: 0 0px 5px rgba(0, 0, 0, .2);
  margin-bottom: 2em;
}

.infotop {
  background-image: linear-gradient(to right, #ff8f00, #00a6ff);
  padding: 1em;
  position: relative;
}

.infotop h3 {
  color: white;
}

.infotop p {
  color: white;
  font-size: .9em;
}

.icongrid {
  display: grid;
  grid-template-columns: auto 64px;
  align-items: center;
}

.infotop .icon {
  opacity: .5;
  width: 64px;
  height: 64px;
}

.infotop .icon img {
  max-width: 100%;
}

.infobottom {
  padding: 1em;
}

.infobottom ul li{
  list-style-type: disc;
  margin: 0 1em 1em 1em;
}

.infobottom ol li {
  margin: 0 1em 0 1em;
  font-family: "Thud W01 Medium";
  font-style: italic;
}

.infobottom h4 {
  color: #00a6ff;
}

.pursuitgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 2.5em;
  row-gap: 2.5em;
  padding: 2.5em;
}

.infoimg {
  background-image: url("img/bg1.jpg");
  background-size: cover;
  background-position: center;
}

.noimg {
  grid-template-columns: 1fr;
}

.box2 {
  grid-area: infobox2;
}

.box3 {
  grid-area: infobox3;
}

.intro .description{
  padding: 0 1em 0 1em;
}
.description {
  padding: 1em;
}

.infopic {
  background: url("https://news.xbox.com/en-us/wp-content/uploads/Forza-Horizon-4_Autumn-Drive-1.jpg");
  background-size: cover;
  background-position: center;
}

.infopic img {
  max-height: 100%;
}

.border {
  position: absolute;
  bottom: 0;
  display: block;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(to right, #ff8f00, #00a6ff);
}

.policelogocontainer {
  width: 200px;
  margin-bottom: .75em;
}

.policelogocontainer img {
  max-width: 100%;
}

footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  background-color: #002424;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, .25) 0 0 5px;
  text-align: center;
}

footer h4 {
  text-align: center;
  color: gainsboro;
}

footer h5 span.dateandtime {
  font-weight: bold;
}

@media (max-width: 1600px) and (min-width: 1366px) {
  section.content {
    width: 80%;
  }
}

@media (max-width: 1366px) and (min-width: 768px) {
  section.content {
    width: 95%;
  }

  nav ul li {
    padding: 12px;
  }

  header .logonavcontainer {
    width: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .logocontainer {
    margin-right: 0;
  }
}

@media (max-width: 768px) and (min-width: 0px) {
  html {
    font-size: 16px;
  }

  header {
    position: relative;
    height: 100%;
    padding-left: 0;
  }

  header .logonavcontainer {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  header .logocontainer {
    max-width: 75%;
    padding: 0;
    margin: 1em 0 0 0;
  }

  nav {
    height: initial;
    width: 100%;
    flex-basis: 100%;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    width: 100%;
    height: 50px;
    -webkit-clip-path: none;
    clip-path: none;
    padding: 0;
  }

  nav ul li a {
    width: 100%;
  }

  nav ul li:hover {
    background-color: initial;
    color: initial;
    color: initial;
    border-bottom: initial;
    border-top: initial;
  }

  nav ul li a:hover {
    background-color: rgba(0, 0, 0, .3);
    color: #ff8f00;
    color: white;
    border-bottom: 4px solid #ff8f00;
    border-top: 4px solid transparent;
  }

  nav ul li a:active {
    border: none;
  }

  section.content {
    width: 100%;
    margin-top: 0;
  }

}