@import url('https://fonts.googleapis.com/css?family=Abel');
@font-face {font-family: "Thud W01 Medium";
  src: url("fonts/a3ce78873e546adb7abdd54098f4d6b1.eot"); /* IE9*/
  src: url("fonts/a3ce78873e546adb7abdd54098f4d6b1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/a3ce78873e546adb7abdd54098f4d6b1.woff2") format("woff2"), /* chromeã€firefox */
  url("fonts/a3ce78873e546adb7abdd54098f4d6b1.woff") format("woff"), /* chromeã€firefox */
  url("fonts/a3ce78873e546adb7abdd54098f4d6b1.ttf") format("truetype"), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
  url("fonts/a3ce78873e546adb7abdd54098f4d6b1.svg#Thud W01 Medium") format("svg"); /* iOS 4.1- */
}

html {
  height: 100%;
  background-image: linear-gradient(#00060b, #272d32);
  background-attachment: fixed;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  color: white;
  overflow-x: hidden;
}

/*colors: 
blue: #00a6ff
orange: #ff8f00
*/

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  position: relative;
  background-image: url("img/grid.png");
  background-attachment: fixed;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 400px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .75em;
}

h6 {
  font-size: .6em;
}

p {
  line-height: 1.75;
}

a {
  color: #ff8f00;
}

ol li {
  list-style-position: outside;
  margin-left: 1em;
}

.grid {
  display: grid;
}

.trigrid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 2.5em;
  row-gap: 2.5em;
  padding: 2.5em;
}

.quadgrid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 2.5em;
  row-gap: 2.5em;
  margin-bottom: 2em;
}

/* SIDEBAR */
.sidenav {
  z-index: 10;
  width: 20vw;
  position: fixed;
  grid-template-rows: 25vh;
}

.logocontainer {
  align-self: center;
  position: relative;
  padding: 1em 0 1em 1em;
}

.logocontainer img {
  max-height: 100%;
  max-width: 100%;
}

nav {
  align-self: start;
  width: 100%;
  margin: 1em 0 1em 0;
}

nav ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul li {
  display: flex;
  margin: 0;
  width: 100%;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .25);
  padding-right: .5em;  
}

nav ul li:hover {
  border-bottom: 3px solid #ff8f00;
  border-top: 3px solid transparent;
}

nav ul li.current {
  border-bottom: 3px solid #00a6ff;
  border-top: 3px solid transparent;
  background: #ffffff14;
}

nav ul li:active {
  border-bottom: 0;
}

nav ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: right;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Abel', sans-serif;
  font-size: 1.25em;
  text-shadow: 0px 0px 3px black;
  text-decoration: none;
}

nav ul li#signup a {
  color: #00a6ff;
}

.banner {
  position: relative;
  width: 100%;
  height: 25vh;
  background-image: url("img/main_banner_compressed.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

/*CONTENT CONTAINER*/
section.home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 3em;
  grid-row-gap: 1em;
}

section.content{
  position: relative;
  padding: 1em;
  margin: 0 5vw 0 25vw;
  flex-grow: 1;
  height: 100%;
}

/* HOME PAGE */
.introhome {
  height: fit-content;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: .5em;
  border: 1px solid rgba(255, 255, 255, .25);
  padding: 2em;
}

/* TOP OF PAGE DESCRIPTION */
.intro {
  grid-template-columns: 1fr 3fr;
  column-gap: .5em;
  position: relative;
  padding: 0 1em 1em 1em;
}

.intro h1 {
  line-height: 1.4;
}

.intro .description{
  padding: 0 1em 0 1em;
}

/* MAIN CONTENT BOXES */
.infobox {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr;
  /* border-left: 3px solid #ff8f00;
  border-right: 3px solid #00a6ff; */
  background: #ffffff14;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 2em;
  border-radius: .5em .5em 0 0;
}

.infobox.withimg {
  grid-template-columns: 2fr 1fr;
}

.infobox .infoimg {
  background-image: url("img/main_banner_compressed.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 .5em 0 0;
}

.infotop {
  background: rgba(0, 0, 0, .25);
  padding: 2em;
  position: relative;
  grid-template-columns: auto 64px;
  align-items: center;
  border-radius: .5em .5em 0 0;
}

.infotop h3 {
  color: #ff8f00;
}

.infotop p {
  color: white;
  font-size: .9em;
}

.icon {
  opacity: .5;
  width: 64px;
  height: 64px;
}

.infotop .icon img {
  max-width: 100%;
}

.infobottom {
  padding: 2em;
}

.infobottom ul li{
  list-style-type: disc;
  margin: .5em 1em 1em 1em;
}

.infobottom h4 {
  color: #00a6ff;
}

.border { /* border for bottom of infobox */
  position: absolute;
  bottom: 0;
  display: block;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(to right, #ff8f00, #00a6ff);
}

/* SESSIONS + GAME MODES */
.modeinfo {
  margin-bottom: 1em;
}

.sessioncount {
  font-weight: bold;
}

.session {
  align-items: center;
  box-shadow: 0 0px 5px rgba(0, 0, 0, .2);
  border-radius: .5em;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1em;
}

.complete {
  opacity: .5;
}

.sessionheader {
  width: calc(100% + 2em);
  background: rgba(0, 0, 0, .25);
  margin: -1em 1em 1em -1em;
  border-radius: .5em .5em 0 0;
  grid-template-columns: 20% auto;
  align-items: center;
  text-transform: uppercase;
}

.sessionclass {
  background: orange;
  padding: .5em;
  border-top-left-radius: .5em;
  text-align: center;
}

.sessionmode {
  text-align: center;
}

.sessioninfo {
  text-align: center;
}

.sessioninfo .time {
  font-style: italic;
  color: white;
  font-weight: 400;
  text-transform: none;
}

/* MEMBERS */
.member {
  position: relative;
  grid-template-columns: 120px auto;
  align-items: center;
  height: 122px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, .2);
  border-radius: .5em;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.memberimg {
  overflow: hidden;
  border-radius: .5em 0 0 .5em;
  width: 120px;
  height: 120px;
}

.memberimg img {
  min-width: 100%;
  height: 100%;
  border-radius: .5em 0 0 .5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}
.memberinfo {
  padding: 0 1em 0 1em;
}
.memberinfo p {
  line-height: 1.5;
  color: green;
}

/* APPLICATION FORM */
form {
  width: 50%;
  padding: 1em;
  margin: 1em 0 1em 0;
  border-radius: .5em;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

#join {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#badresponse {
  font-size: .75em;
  background: red;
  text-align: center;
  border-radius: .5em;
}

#application, #applicationresults, #applicationstep3, #applicationstep4, #badresponse {
  display: none;
}

input {
  font-family: sans-serif;
  font-size: .75em;
  color: white;
  background: rgba(255, 255, 255, .25);
  border: 0;
  padding: .5em;
  border-radius: .5em;
}

input:focus {
  border-bottom: 3px solid #ff8f00;
  border-radius: .5em .5em 0 0;
}

textarea {
  font-family: sans-serif;
  font-size: .75em;
  color: white;
  background: rgba(255, 255, 255, .25);
  border: 0;
  padding: .5em;
  border-radius: .5em;
}

textarea:focus {
  border-bottom: 3px solid #ff8f00;
  border-radius: .5em .5em 0 0;
}

button {
  width: 100px;
  height: 30px;
  color: white;
  border: 0;
  background: rgba(0, 0, 0, .75);
  cursor: pointer;
}

button:hover {
  border-top: 3px solid transparent;
  border-bottom: 3px solid #ff8f00;
}

/* POLICE */
.policelogocontainer {
  width: 200px;
  margin-bottom: .75em;
}

.policelogocontainer img {
  max-width: 100%;
}

.policecar {
  display: grid;
  grid-template-rows: auto;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: .5em;
  position: relative;
  height: 100%;
}

.policecar .carinfo {
  padding: 1em;
}

.policecar .carimg {
  width: 100%;
  height: 200px;
  align-self: end;
  background-image: url("https://www.gtplanet.net/forum/attachments/18-09-2018_18-45-15-jpg.766904/");
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0 0 .5em .5em;
}

.policecarrestrictions {
  grid-column: 1 / -1;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: .5em;
  padding: 1em;
}

.policecarrestrictions .trigrid {
  row-gap: 0;
  padding: 0;
}

.policecarrestrictions h5{
  color: slategray;
  padding-top: .5em;
  font-weight: normal;
}

/* POLICE LIVERY */
.colorinfo {
  padding: 0 1em 0 1em;
  color: white;
}

.mapimgcontainer {
  margin: -2em -2em -2em -2em;
}

.mapimgcontainer img {
  max-width: 100%;
}

.datetime {
  color: white;
  opacity: .25;
  width: 100%;
  text-align: right;
  align-self: start;
  padding-right: .5em;
}

@media (max-width: 1600px) and (min-width: 1050px) {
  .trigrid, .quadgrid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1600px) and (min-width: 0px) {
  section.home {
    grid-template-columns: 1fr;
  }

  .introhome {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-row-start: initial;
    grid-row-end: initial;
  }
}

@media (max-width: 1366px) and (min-width: 768px) {
  .sidenav {
    width: 25vw;
  }

  section.content {
    margin: 0 0 0 25vw;
  }

  form {
    width: 75%;
  }
}

@media (max-width: 1050px) and (min-width: 0px) {
  .trigrid, .quadgrid{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) and (min-width: 450px){
  .sidenav .logocontainer {
    max-width: 70%;
    padding: 0;
  }
}

@media (max-width: 450px) and (min-width:0px) {
  .sidenav .logocontainer {
    max-width: 90%;
    padding: 0;
  }
}

@media (max-width: 768px) and (min-width: 0px) {
  html {
    font-size: 18px;
  }

  .sidenav {
    grid-template-rows: initial;
    position: relative;
    width: 100%;
  }

  .sidenav .logocontainer {
    height: 100px;
    padding: 0;
    justify-self: center;
  }

  nav {
    margin: 0 0 .5em 0;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    width: 100%;
    height: 40px;
    padding: 0;
  }

  nav ul li a {
    text-align: center;
    width: 100%;
  }

  .datetime {
    text-align: center;
  }

  section.content {
    width: 100%;
    margin: 0;
  }

  .intro {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .infobox.withimg {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .infobox .infoimg {
    border-radius: 0;
  }

  .infotop {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .infotop h3 {
    text-align: center;
  }

  .icon {
    width: 48px;
    height: 48px;
  }

  form {
    width: 100%;
  }
}